
html{
    height: 100%;
    font-size:26.67vw;
}
body{
    width:3.75rem;
    height: 100%;
    font-size:0.16rem;
    font-family: "楷体";
    background:#f9f9f9;
    // overflow: auto;
}
*{box-sizing: border-box}
